body{

    background: rgba(128, 128, 128, 0.22);
    font-family: "Raleway";
}
header.row{
    background: #e9ecef;
   
}


header{
    padding-top:5px;
}

.cus-justifybetween{
    justify-content: space-between !important;
}
 /* Make the image fully responsive */
 .carousel-inner img {
    width: 100%;
    height: 100%;
}

header + section{
    margin-top:145px;
}

.services article{
    height:500px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
section.services article div:first-of-type{
   background-color:  #868e9626 !important;
}
section.services article div:last-of-type{
    background-color:  #17a2b829 !important;
 }

  .servicesDetailsModal div {
     background-color: #17a2b829 !important;
 }
  .servicesDetailsModal div.card-body {
    background-color: #d9f0f4a1 !important;
}
.servicesDetailsModal div.card-footer {
    background-color: #17a2b894 !important;
}
.servicesDetailsModal div.modal-header {
    background-color: #17a2b8 !important;
}


.servicesDetailsModal{
    text-align: center;
}
.servicesDetailsModal img{
    width:91px;
    height:91px;
}

footer{
    color: white;
    background-color: black;
}